@charset "utf-8";

#container {
	height: 1000px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#header .search {
	float: right;
	margin-top: 30px;
}
#header .rank {
	margin-left: 30px;
	margin-top: 35px;
}
#pagebody .operation {
	float: right;
	padding-top: 100px;
	padding-right: 100px;
}
#pagebody .detail {
	float: left;
	padding-left: 20px;
}
#pagebody .num {
	float: left;
	margin-right: 20px;
}
#pagebody .showpage {
	margin-right: auto;
	margin-left: auto;
	height: 30px;
	text-align: center;
}


#pagebody .img {
	float: left;
}
.temp {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
